{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ meme.title }}</h2>
    <div>
        <p><a href="{{ path('lol_note_meme', { id: meme.id, note: 'upvote'}) }}">Upvote</a> {{ meme.nbUpVote }}+</p>
        <p><a href="{{ path('lol_note_meme', { id: meme.id, note: 'downvote'}) }}">Downvote</a> {{ meme.nbDownVote }}-</p>
    </div>
    <img src="{{ asset('uploads/memes/' ~ meme.image) }}">
    <ul>
        {% for comment in meme.comments %}
            <li><p>{{ comment.content }}</p> by {% if comment.user %} {{ comment.user.username }} {% else %} anon. {% endif %}</li>
        {% else %}
            No comments. Be first to comment.
        {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </ul>

{% endblock %}